@font-face {
	font-family: 'DrukWideCyrBold';
	src:
	     url('../fonts/Druk Wide Cyr Bold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DrukWideCyrMedium';
	src:
	     url('../fonts/Druk Wide Cyr Medium.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TDStrelecDEMO';
	src:
	     url('../fonts/TD-Strelec-DEMO.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'VCROSDMonoCyr';
	src:
	     url('../fonts/VCR OSD Mono Cyr.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	margin:0px;
	padding:0px;
	background-color: #020202;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	font-family: 'Roboto', sans-serif;
	color:#fff;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	-webkit-text-size-adjust: none;
	-ms-user-select: none;
  -moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

body.eu {
	background-color: #020202;
}

* {
	box-sizing:border-box;
}

a {
	color: #fff;
	text-decoration:none;
}

.name-tour-wrap {
	width:100%;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.name-tour-wrap img {
	width:55%;
	pointer-events:none;
}

.tour-city-club-wrap {
	display: flex;
	width:calc(440 * 100vw / 1366);
	min-width:calc(440 * 100vw / 1366);
   /* flex-direction: column;*/
}

.date-list-item {
	display: flex;
	justify-content: space-between;
	font-size: calc(21 * 100vw / 1366);
	align-items:center;
	text-transform:uppercase;
	margin-bottom:calc(15 * 100vw / 1366);
	line-height: calc(38 * 100vw / 1366);
}

.date-tour {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: calc(21 * 100vw / 1366);
	width:calc(60 * 100vw / 1366);
}

.tour-wrap {
	width:57%;
	margin: 0 auto;
	margin-top:calc(50 * 100vw / 1366);
	margin-bottom:calc(200 * 100vw / 1366);

}

.date-list__space {
	margin-left:calc(20 * 100vw / 1366);
}

.vk-svg {
	fill:#b52414;
	width: calc(40 * 100vw / 1366);
	min-width:calc(40 * 100vw / 1366);
	margin-left:calc(25 * 100vw / 1366);
	transform: translateY(calc(2 * 100vw / 1366));
	transition:0.2s;
}

.vk-svg:hover {
	opacity:0.7;
}

.date-list__ticket-status {
	font-size: calc(12 * 100vw / 1366);
    text-decoration: none;
    text-transform: uppercase;
	width:calc(50 * 100vw / 1366);
	line-height: calc(15 * 100vw / 1366);
	transition:0.2s;
}

.date-list__ticket-status:hover {
	opacity:0.7;
}

.rndm_logo_wrap {
	text-align:center;
	width:100%;
	margin-bottom:30px;
}

.rndm_logo {
	width:calc(58 * 100vw / 1366);
}


.contacts-menu {
    display: none;
    position: fixed;
    top: calc(50% - 190px);
    left: calc(50% - 263px);
    height: 380px;
    margin: 0 auto;
    width: 526px;
    z-index: 140;
    padding: 10px;
	color:#000;
}

.close-modal {
  position:absolute;
  top: 39px;
  right: 41px;
  cursor:pointer;
}

.dd-menu-wrap {
    height: 100%;
    width: 80%;
		margin-left: 10%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dd-menu-wrap>div {
    margin: 10px 0px;
}

.dd-menu-wrap span {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.dd-menu-wrap>div>a {
    transition: 0.2s;
		display: inline-block;
		color: inherit;
    /* text-transform: uppercase; */
}

.dd-menu-wrap .social {
    justify-content: center;
    margin-bottom: 38px !important;
    position: absolute;
    bottom: 0px;
    opacity: 1;
}

.dd-menu-wrap .social .social-item {
    margin: 0 7% 0 0;
}

.social-item {
    margin: 0 5% 0 0;
    width: 20px;
    text-align: center;
    transition: .2s;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    top: 0;
    display: none;
}

.social {
    display: flex;
    margin: 0;
    width: 50%;
    position: relative;
}

.burger-box-close-modal span {
	line-height: 1px;
    position: absolute;
    height: 2px;
    background: #000;
    width: 20px;
    display: inline-block;
    left: 0;
    transition: .2s;
}

.burger-box-close-modal .burger__line-1 {
    transform: rotate(45deg);
    top: 7px;
}

.burger-box-close-modal .burger__line-2 {
    opacity: 0;
}

.burger-box-close-modal .burger__line-3 {
    transform: rotate(-45deg);
    top: 7px;
}

.burger-box-close-modal {
    transform: rotate(-90deg);
    transition: .2s ease-in;
}

.close-modal {
    position: absolute;
    top: 40px;
    right: calc(10% + 30px);
    width: 30px;
    height: 30px;
    cursor: pointer;
	transition:0.2s;
}

.close-modal:hover {
	opacity:0.7;
}

.burger-contacts {
	transition:0.2s;
	cursor: pointer;
}

.merch-button, .music-button {
  position: absolute;
  top: calc(25 * 100vw / 1366);
  right: calc(140 * 100vw / 1366);
  text-transform: uppercase;
  font-size: calc(14 * 100vw / 1366);
	cursor:pointer;
	transition:0.2s;
	font-weight:900;
	color: #b52414;
	text-decoration: none;
}

.music-button {
	left: calc(30 * 100vw / 1366);
	right: 0;
	display: inline-block;
	width: calc(90 * 100vw / 1366);
}

.merch-button:hover, .music-button:hover {
	text-decoration: none;
}

.element_load {
	opacity:0;
	transition:0.2s;
}

.element_load.end_load {
	opacity:1;
}

.burger-contacts:hover, .merch-button:hover, .music-button:hover {
	opacity:0.7;
}

.burger {
  width: 20px;
  height: 16px;
  position: absolute;
  display: none;
	cursor:pointer;
}

.burger-box {
    width: 20px;
    position: absolute;
    height: 16px;
    left: 0;
    right: 0;
    transition: .2s ease-in;
}

.burger span {
    line-height: 1px;
    position: absolute;
    height: 2px;
    background: #b52414;
    width: 20px;
    display: inline-block;
    left: 0;
    transition: .3s ease-in-out;
}

.burger__line-2 {
    top: 7px;
}

.burger__line-3 {
    top: 14px;
}

.mini-modal-wrap {
		width:100%;
		position:fixed;
		top:0px;
		left:0px;
		height:100vh;
		z-index: 3000;
		/* background-color:rgba(0,0,0,0.9); */
		opacity: 0;
		transition: opacity 0.2s, visibility 0s linear 300ms;
		pointer-events:none;
		overflow: hidden;
		overflow-y: scroll;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mini-modal-wrap::-webkit-scrollbar, .mini-modal-wrap::-webkit-scrollbar, .mini-modal-wrap::-webkit-scrollbar { width: 0; }

	.mini-modal-wrap.active_popup {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.2s, visibility 0s linear 0s;
		pointer-events: auto;
	}

	.mini-modal {
		padding: 0;
		border: 0;
		margin-top: 10px;
		position: relative;
		font-size: 17px;
		z-index: 950;
		visibility: visible;
		opacity: 1;
		transition: opacity 0.2s, visibility 0s linear 300ms, top 0.2s;
		box-sizing: border-box;
	}

	.mini-modal-callback {
		width: 70%;
		height: auto;
		z-index: 3100;
	}

	.mini-modal-wrap-banner-promo .mini-modal {
		width: 560px;
		height: auto;
		top: 5vh;
		left:calc(50% - 230px);
		z-index: 100;
	}

	.mini-modal-wrap.active_popup .mini-modal-callback {

	}

	.form-thanks-area {
		display:none;
	}

	.form-fluid {
		display: block;
		width: 100%;
		height: 60px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 0px 25px;
		outline: none;
		border: 1px #0BB5D4 solid;
		margin-bottom: 20px;
	}

	.mini-modal-title {
		margin-bottom: 20px;
		text-align: center;
	}

	.button-modal-form-go {
		background: linear-gradient(180deg, #FF5B3A 0%, #B33E12 100%);
		padding: 15px 0px;
		width: 100%;
		display: block;
		border-radius: 15px;
		text-align: center;
		color: #fff;
		cursor:pointer;
		transition:0.3s;
	}

	.button-modal-form-go:hover {
		background-color: #e31e248a;
	}

	.form-policy-information {
		font-size: 11px;
		margin-top: 10px;
		box-sizing: border-box;
		display: block;
		padding: 0px 50px;
		text-align: center;
	}

	.svg-close-modal-wrap {
		cursor:pointer;
		position:absolute;
		top:-20px;
		right:-20px;
		z-index: 22120;
	}

	.svg-close-modal {
		width:40px;
		fill:#b52414;
	}

	.music-modal__links_item {
		display: flex;
		justify-content: center;
		width: 100%;
		align-items: center;
		margin-top: 20px;
	}

	.music-modal__links_item:first-child {
		margin-top: 10px;
	}

	.music-modal__links_item a {
		margin-left: 20px;
	}

	.music-modal__links_item--service {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.music-modal__links_item--service svg {
		width: 30px;
	}

	.music-modal__links_item--service_name {
		margin-left: 16px;
  	width: 120px;
	}

@media (orientation:portrait) {
	.mini-modal-callback {
		width: 86%;
	}

	.music-modal__links_item--service_name {
		margin-left: calc(16 * 100vw / 375);
		width: calc(100 * 100vw / 375);
	}

	.burger {
		display: inline-block;
		top: calc(15 * 100vw / 375);
		right: calc(15 * 100vw / 375);
		font-size: calc(10 * 100vw / 375);
	}

	.burger-contacts {
		display:none;
	}

	.merch-button, .music-button {
		top: calc(15 * 100vw / 375);
		right: calc(58 * 100vw / 375);
		font-size: calc(15 * 100vw / 375);
	}

	.music-button {
		right: 0;
		left: calc(20 * 100vw / 375);
	}

	.contacts-menu {
		width: 100%;
		left: 0;
		font-size:calc(13 * 100vw / 375);
	}

	.music-button {
		width: calc(80 * 100vw / 375);
	}

	.name-tour-wrap img {
		width:76%;
	}

	.name-tour-wrap {
		height: auto;
		margin-top: calc(100 * 100vw / 375);
	}

	.tour-wrap {
		margin-top: calc(75 * 100vw / 375);
		margin-bottom: calc(150 * 100vw / 375);
		width: 76%;
	}

	.date-list-item {
		font-size: calc(11 * 100vw / 375);
		margin-bottom: calc(15 * 100vw / 375);
		line-height: calc(30 * 100vw / 375);
	}

	.tour-city-club-wrap {
		flex-direction: column;
		width: calc(115 * 100vw / 375);
		min-width: calc(115 * 100vw / 375);
		font-weight: 800;
		line-height: calc(14 * 100vw / 375);
	}

	.date-list__space {
		margin-left: 0;
		margin-top:calc(2 * 100vw / 375);
	}

	.date-tour {
	    font-size: calc(25 * 100vw / 375);
		width: calc(55 * 100vw / 375);
		font-weight:900;
	}

	.vk-svg {
		width: calc(32 * 100vw / 375);
		min-width: calc(30 * 100vw / 375);
		margin-left: 0px;
		transform: translateY(calc(3 * 100vw / 375));
	}

	.date-list__ticket-status {
		font-size: calc(10 * 100vw / 375);
		width: calc(30 * 100vw / 375);
		line-height: calc(12 * 100vw / 375);
	}

	.rndm_logo_wrap {

	}

	.rndm_logo {
		width: calc(40 * 100vw / 375);
	}
}

/**/

	h1 {
		font-size: 12px;
		font-weight: normal;
		margin-top: 10px;
		margin-bottom: 0px;
		opacity: 0.7;
	}

	.top-content {
		position: relative;
		width: 100%;
		/* height: calc(3180 * 100vw / 1920); */
		height: auto;
		min-height: 100vh;
	}

	.eu .top-content {
		height: auto;
	}

	.background-top {
		width: 100%;
	}

	.background-top-mob {
		display: none;
		width: 100%;
	}

	.top-content__inner {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.buda-animation {
		position: relative;
		width: 100%;
		pointer-events: none;
	}

	.buda-animation img {
		top: calc(1203 * 100vw / 1920);
		left: calc(279 * 100vw / 1920);
		width: calc(563 * 100vw / 1920);
		position: absolute;
		animation: flashlight 6s infinite;
	}

	.eu .buda-animation img {
		top: calc(1242 * 100vw / 1920);
		left: calc(182 * 100vw / 1920);
		width: calc(700 * 100vw / 1920);
	}

	@keyframes flashlight {

	  0% {
	  	opacity: 0;
	  }

	  20% {
	    opacity: 0;
	  }

		21% {
	    opacity: 0.5;
	  }

		22% {
	    opacity: 0;
	  }

		23% {
	    opacity: 0.5;
	  }

		24% {
	    opacity: 0;
	  }

		25% {
	    opacity: 0.5;
	  }

		26% {
	    opacity: 0;
	  }

		40% {
	    opacity: 0.5;
	  }

		51% {
	    opacity: 0;
	  }

		52% {
	    opacity: 0.5;
	  }

		53% {
	    opacity: 0;
	  }

		54% {
	    opacity: 0.5;
	  }

		55% {
	    opacity: 0;
	  }

		56% {
	    opacity: 0.5;
	  }

		57% {
	    opacity: 0;
	  }

		70% {
	    opacity: 1;
	  }

		95% {
	    opacity: 1;
	  }

		100% {
	    opacity: 0;
	  }
	}

	body {
		min-height: 100%;
		background-image: none;
	}

	.burger-contacts {
		z-index: 10;
	}

	.merch-button {
		z-index: 10;
	}

	.rndm_logo_wrap {
		display: none;
	}

	.tour-russia__item {
		display: flex;
		margin-top: calc(0 * 100vw / 1920);
		align-items: center;
		height: calc(85.49 * 100vw / 1920);
	}

	.tour-russia__item_city-date {
		height: calc(89.49 * 100vw / 1920);
		min-width: calc(1050 * 100vw / 1920);
	}

	.tour-russia__item_city-date.minsk img {
		transform: translateY(calc(-31 * 100vw / 1920));
	}

	.tour-russia__item_city-date.nijnij img {
		transform: translateY(calc(-16 * 100vw / 1920));
	}

	@media (max-width:767px) {
		.tour-russia__item {
			margin-top: calc(0 * 100vw / 1920);
		}

		.tour-russia__item_city-date.minsk img {
			transform: translateY(calc(-30 * 100vw / 1920));
		}
	}

	.tour-russia__item_city-date img {
		height: calc(85.49px * 100vw / 1920);
		width: calc(1050 * 100vw / 1920);
		/* height: 100%; */
	}

	.wrap-tour-russia, .wrap-tour-cis {
		width: 100%;
		margin-left: 0%;
		margin-top: calc(150 * 100vw / 1920);
	}

	.eu .wrap-tour-russia, .wrap-tour-cis {
		margin-top: calc(1500 * 100vw / 1920);
	}

	.wrap-tour-cis {
		margin-top: calc(240 * 100vw / 1920);
	}

	.tour-russia__item_tickets img {
		width: calc(63 * 100vw / 1920);
		margin-left: calc(41 * 100vw / 1920);
		transition: 0.15s;
	}

	.tour-russia__item_meet img {
		width: calc(70 * 100vw / 1920);
		margin-left: calc(67 * 100vw / 1920);
		transition: 0.15s;
	}

	.tour-russia__item_meet img:hover {
		opacity: 0.7;
	}

	.tour-russia__item_tickets img:hover {
		opacity: 0.7;
	}

	.bottom-content {
		margin-top: calc(-844 * 100vw / 1920);
		position: relative;
	}

	.music-button {
		z-index: 1;
	}

	.burger-contacts {
		display: block;
	}

	.burger {
		display: none;
	}

	.rndm-logo-button img {
		width: calc(95 * 100vw / 1920);
	}

	.rndm-logo-button {
		z-index: 1;
		pointer-events: none;
	}

	.sixteen_plus {
		position: absolute;
		top: calc(702 * 100vw / 1920);
		right: calc(210 * 100vw / 1920);
		z-index: 1;
	}

	.sixteen_plus img {
		width: calc(75 * 100vw / 1920);
	}

	header {
		position: absolute;
		top: 0;
		left: 0;
		padding-left: calc(134 * 100vw / 1920);
		padding-right: calc(134 * 100vw / 1920);
		padding-top: calc(48 * 100vw / 1920);
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		z-index: 1;
		width: 100%;
		align-items: center;
	}

	.og-menu {
		display: flex;
	}

	.og-menu__item {
		margin-left: calc(137 * 100vw / 1920);
		text-transform: uppercase;
		font-size: calc(16 * 100vw / 1920);
		line-height: calc(24 * 100vw / 1920);
		font-family: 'VCROSDMonoCyr';
		color: #fff;
		transition: 0.15s;
		cursor: pointer;
	}

	.og-menu__item:hover {
		opacity: 0.7;
	}

  .og-menu__item span {
  	color: #964C50;
  }

	.tour-msk-spb {
		width: calc(1029 * 100vw / 1920);
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		margin-top: calc(1570 * 100vw / 1920);
		text-transform: uppercase;
		text-align: center;
	}

	.tour-msk-spb__item {
		width: 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.tour-msk-spb__item_title {
		font-size: calc(36 * 100vw / 1920);
		line-height: calc(48 * 100vw / 1920);
		font-family: 'DrukWideCyrMedium';
	}

	.tour-msk-spb__item_place-date {
		font-size: calc(22 * 100vw / 1920);
		line-height: calc(36 * 100vw / 1920);
		color: #EEA0A4;
		font-family: 'DrukWideCyrMedium';
		margin-top: calc(8 * 100vw / 1920);
	}

	.tour-msk-spb__item_time {
		width: calc(463 * 100vw / 1920);
		margin-top: calc(25 * 100vw / 1920);
	}

	.tour-msk-spb__item_time img {
		width: 100%;
	}

	.tour-msk-spb__item_buyticket, .next-tour-button {
		display: flex;
		background: rgba(255, 255, 255, 0.02);
		border: 1px solid #FFFFFF;
		box-sizing: border-box;
		backdrop-filter: blur(15px);
		border-radius: calc(50 * 100vw / 1920);
		width: calc(355 * 100vw / 1920);
		justify-content: center;
		align-items: center;
		font-size: calc(14 * 100vw / 1920);
		line-height: calc(48 * 100vw / 1920);
		height: calc(74 * 100vw / 1920);
		font-family: 'DrukWideCyrMedium';
		color: #fff;
		margin-top: calc(55 * 100vw / 1920);
		position: relative;
	}

	.tour-msk-spb__item_buyticket:after, .next-tour-button:after {
		content:"";
		display: block;
		position: absolute;
		width: calc(100% - 80px);
		height: calc(100% - 40px);
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
		background: rgba(255, 102, 102, 0.8);
		filter: blur(14px);
		opacity: 0;
		transition: 0.15s;
		left: 0;
		top: 0;
		will-change: opacity;
	}

	.eu .tour-msk-spb__item_buyticket:after, .eu .next-tour-button:after {
		background: rgba(198, 111, 228, 0.78);
	}

	.tour-msk-spb__item_buyticket:hover:after {
		opacity: 1;
	}

	.next-tour-button:hover:after {
		opacity: 1;
	}

	.tour-msk-spb__item_buyticket span {
		display: block;
		position: absolute;
    z-index: 2;
	}

	.next-tour-button span {
		display: block;
		position: absolute;
    z-index: 2;
	}

	.next-tour-button {
		margin-left: auto;
		margin-right: auto;
		margin-top: calc(86 * 100vw / 1920);
		text-transform: uppercase;
	}

	.tour-msk-spb__item_social-link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(74 * 100vw / 1920);
		margin-top: calc(20 * 100vw / 1920);
	}

	.social-link__adrenaline {
		width: calc(134 * 100vw / 1920);
		margin-right: calc(20 * 100vw / 1920);
	}

	.social-link__adrenaline img {
		width: 100%;
	}

	.social-link__vk {
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.social-link__vk span {
		display: block;
		margin-left: calc(10 * 100vw / 1920);
		font-family: 'DrukWideCyrMedium';
		font-size: calc(16 * 100vw / 1920);
	}

	.social-link__vk img {
		width: calc(48 * 100vw / 1920);
	}

	.table-tour {
		width: calc(984 * 100vw / 1920);
		margin-left: auto;
		margin-right: auto;
	}

	.table-tour__header {
		display: flex;
		font-size: calc(16 * 100vw / 1920);
		line-height: calc(24 * 100vw / 1920);
		color: rgba(255, 255, 255, 0.61);
		font-family: 'VCROSDMonoCyr';
		width: 100%;
		padding-bottom: calc(20 * 100vw / 1920);
		border-bottom: 1px solid #FFFFFF;
	}

	.table-tour__header_column.date, .body-row-left__column.date {
		width: calc(100 * 100vw / 1920);
	}

	.table-tour__header_column.city, .body-row-left__column.city {
		width: calc(253 * 100vw / 1920);
	}

	.table-tour__header_column.place, .body-row-left__column.place {
		width: calc(264 * 100vw / 1920);
	}

	.table-tour__header_column.date {
		padding-left: calc(20 * 100vw / 1920);
	}

	.table-tour__header_column.city {
		padding-left: calc(70 * 100vw / 1920);
	}

	.table-tour__header_column.place {
		padding-left: calc(95 * 100vw / 1920);
	}

	.table-tour__body {
		width: 100%;
	}

	.table-tour__body_row {
		display: flex;
		justify-content: space-between;
		padding-top: calc(25 * 100vw / 1920);
	}

	.body-row__left {
		display: flex;
		padding-bottom: calc(25 * 100vw / 1920);
		border-bottom: 1px solid #FFFFFF;
		align-items: center;
		position: relative;
	}

	.body-row-left__column.social-link {
		width: calc(50 * 100vw / 1920);
		display: block;
		text-align: right;
	}

	.body-row-left__column.date {
		font-size: calc(20 * 100vw / 1920);
		line-height: calc(24 * 100vw / 1920);
		font-family: 'VCROSDMonoCyr';
	}

	.body-row-left__column.city {
		font-size: calc(36 * 100vw / 1920);
		line-height: calc(24 * 100vw / 1920);
		font-family: 'TDStrelecDEMO';
		text-transform: uppercase;
		background: linear-gradient(180deg, #DC7070 0%, #A85B5B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-left: calc(57 * 100vw / 1920);
	}

	.eu .body-row-left__column.city {
		background: linear-gradient(180deg, #9466A4 0%, #8A579B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.body-row-left__column.place {
		font-size: calc(16 * 100vw / 1920);
		line-height: calc(24 * 100vw / 1920);
		font-family: 'VCROSDMonoCyr';
		text-transform: uppercase;
	}

	.body-row-left__column.social-link img {
		width: calc(33 * 100vw / 1920);
	}

	.table-tour__body_row {
		display: flex;
	}

	.tour-russia__item {
		display: none;
	}

	.body-row-right__buy-ticket {
		width: calc(213 * 100vw / 1920);
		height: calc(47 * 100vw / 1920);
		border: 1px solid #FFFFFF;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: calc(14 * 100vw / 1920);
		line-height: calc(14 * 100vw / 1920);
		font-family: 'VCROSDMonoCyr';
		color: #fff;
		filter: drop-shadow(0px 0px 50px rgba(227, 105, 100, 0));
		background: rgba(227, 105, 100, 0);
		transition: 0.15s;
		white-space: nowrap;
	}

	.body-row-right__buy-ticket:hover {
		filter: drop-shadow(0px 0px 20px rgba(227, 105, 100, 0.6));
		background: rgba(227, 105, 100, 0.78);
	}

	.eu .body-row-right__buy-ticket:hover {
		filter: drop-shadow(0px 0px 20px rgba(171, 88, 200, 0.6));
		background: #773D8B;
	}

	.table-tour__body .table-tour__body_row:last-child .body-row__left {
		border: none;
	}

	.footer {
		padding-top: calc(84 * 100vw / 1920);
		padding-bottom: calc(84 * 100vw / 1920);
		margin-left: calc(134 * 100vw / 1920);
		margin-right: calc(134 * 100vw / 1920);
		width: calc(100% - (268 * 100vw / 1920));
		box-sizing: border-box;
		border-top: 1px solid #FFFFFF;
		display: flex;
		justify-content: space-between;
		margin-top: calc(100 * 100vw / 1920);
	}

	.footer__left-menu {
		width: 50%;
		text-transform: uppercase;
    font-size: calc(16 * 100vw / 1920);
    line-height: calc(24 * 100vw / 1920);
    font-family: 'VCROSDMonoCyr';
		color: #fff;
		display: flex;
		flex-wrap: wrap;
	}

	.footer__left-menu_item {
		width: calc(250 * 100vw / 1920);
		margin-right: calc(82 * 100vw / 1920);
		white-space: nowrap;
		cursor: pointer;
		transition: 0.15s;
	}

	.footer__left-menu_item:hover {
		opacity: 0.7;
	}

	.footer__left-menu_item.left {
		margin-right: 0px;
	}

	.footer__left-menu > a {
		color: #fff;
	}

	.footer__left-menu span {
    color: #964C50;
	}

	.footer__logo {
		width: calc(107 * 100vw / 1920);
		min-width: calc(107 * 100vw / 1920);
	}

	.footer__logo img {
		transform: translateY(calc(-13 * 100vw / 1920));
	}

	.footer__social {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		color: #964C50;
		transform: translateY(calc(-24 * 100vw / 1920));
	}

	.footer__social_double-row {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.footer__social_double-row.design-by {
		justify-content: flex-start;
		font-size: calc(16 * 100vw / 1920);
    line-height: calc(24 * 100vw / 1920);
    font-family: 'VCROSDMonoCyr';
		padding-left: calc(172 * 100vw / 1920);
		margin-top: calc(13 * 100vw / 1920);
		color: #fff;
	}

	.footer__social_double-row.design-by a {
		margin-left: calc(10 * 100vw / 1920);
		margin-right: calc(10 * 100vw / 1920);
		color: #fff;
		display: inline-block;
		border-bottom: 1px solid #fff;
		transition: 0.15s;
	}

	.footer__social_double-row.design-by a.nikita:hover {
		color: #964C50;
		border-color: #964C50;
	}
	.footer__social_double-row.design-by a.ania:hover {
		color: #9466A4;
		border-color: #9466A4;
	}

	.footer__social_item {
		display: flex;
		align-items: center;
		margin-left: calc(38 * 100vw / 1920);
		color: #964C50;
		font-size: calc(18 * 100vw / 1920);
		letter-spacing: -0.05em;
	}

	.footer__social_item img {
		width: calc(27 * 100vw / 1920);
		height: calc(27 * 100vw / 1920);
	}

	.og_buda_inst, .footer__social_item img.og_buda_inst {
		width: calc(49 * 100vw / 1920);
		height: auto;
		margin-right: calc(16 * 100vw / 1920);
	}

	.rndmstore_inst, .footer__social_item img.rndmstore_inst {
		width: calc(78 * 100vw / 1920);
		height: auto;
		margin-right: calc(16 * 100vw / 1920);
	}

	.footer__social_item.sixteen {
		margin-right: 0px;
		margin-left: calc(100 * 100vw / 1920);
	}

	.footer__social_item.sixteen img {
		width: calc(44 * 100vw / 1920);
		height: calc(37 * 100vw / 1920);
	}

	.footer__social_item a {
		color: inherit;
	}

	.footer__social_item span {
		margin-right: calc(15 * 100vw / 1920);
	}

	.gamburger-og {
		display: none;
	}

	@media (max-width:767px) {
		.og-menu {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			transform: translate(150px, 40px);
			transition: 0.15s;
			position: fixed;
			right: 16px;
			top: 30px;
		}

		.og-menu.active {
			transform: translate(0px, 40px);
		}

		.og-menu__item {
			font-size: 12px;
			line-height: 24px;
		}

		.top-content {
			height: auto;
		}

		.gamburger-og {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-direction: column;
			position: absolute;
			top: 0px;
			right: 0px;
			padding-top: calc(33 * 100vw / 390);
			padding-right: calc(16 * 100vw / 390);
			padding-left: calc(16 * 100vw / 390);
			padding-bottom: calc(16 * 100vw / 390);

		}

		.gamburger-og span {
			display: block;
			width: 20px;
			height: 2px;
			background: #fff;
			transform: rotate(0deg);
			transition: 0.15s;
			transform-origin: center;
		}

		.gamburger-og span:nth-child(1) {
			transform: scaleX(1.3) translateX(-2px);
		}

		.gamburger-og span:nth-child(2) {
			width: 20px;
			transform: translateY(3px);
		}

		.gamburger-og.open span:nth-child(1) {
			transform: rotate(45deg) translateX(0px) scale(1);
		}

		.gamburger-og.open span:nth-child(2) {
			transform: rotate(-45deg) translateY(-2px);
		}

		header {
			padding-left: calc(16 * 100vw / 390);
			padding-right: calc(16 * 100vw / 390);
			padding-top: calc(22 * 100vw / 390);
			position: fixed;
		}

		.background-top {
			display: none;
			margin-top: calc(38 * 100vw / 390);
		}

		.background-top-mob {
			display: inline-block;
		}

		.eu .background-top {
			margin-top: 0px;
		}

		.rndm-logo-button img {
			width:  calc(40 * 100vw / 390);
		}

		.tour-msk-spb {
			flex-direction: column;
			width: 100%;
			margin-top: calc(402 * 100vw / 390);
		}

		.tour-msk-spb__item {
			width: 100%;
			margin-top: calc(44 * 100vw / 390);
		}

		.tour-msk-spb__item_title {
			font-size: calc(20 * 100vw / 390);
			line-height: calc(48 * 100vw / 390);
		}

		.tour-msk-spb__item_place-date {
			font-size: calc(14 * 100vw / 390);
			line-height: calc(24 * 100vw / 390);
			margin-top: calc(-7 * 100vw / 390);
		}

		.tour-msk-spb__item_time {
			width: calc(230 * 100vw / 390);
			margin-top: calc(9 * 100vw / 390);
		}

		.tour-msk-spb__item_buyticket, .next-tour-button {
			width: calc(235 * 100vw / 390);
			border-radius: calc(50 * 100vw / 390);
			font-size: calc(10 * 100vw / 390);
			line-height: calc(14 * 100vw / 390);
			height: calc(52 * 100vw / 390);
			margin-top: calc(25 * 100vw / 390);
		}

		.tour-msk-spb__item_social-link {
			height: calc(68 * 100vw / 390);
			margin-top: calc(8 * 100vw / 390);
		}

		.wrap-tour-russia, .wrap-tour-cis {
			margin-top: calc(55 * 100vw / 390);
		}

		.eu .wrap-tour-russia, .wrap-tour-cis {
			margin-top: calc(453 * 100vw / 390);
		}

		.social-link__adrenaline {
			width: calc(122 * 100vw / 390);
			margin-right: calc(4 * 100vw / 390);
		}

		.social-link__vk {
			flex-direction: column-reverse;
		}

		.social-link__vk img {
			width: calc(33 * 100vw / 390);
		}

		.social-link__vk span {
			font-size: calc(10 * 100vw / 390);
			line-height: calc(12 * 100vw / 390);
		}

		.table-tour {
			width: 100%;
			padding-left: calc(16 * 100vw / 390);
			padding-right: calc(16 * 100vw / 390);
		}

		.table-tour__header {
			font-size: calc(8 * 100vw / 390);
			line-height: calc(24 * 100vw / 390);
		}

		.table-tour__header_column.date, .body-row-left__column.date {
			width: calc(50 * 100vw / 390);
		}

		.table-tour__header_column.date {
			padding-left: calc(10 * 100vw / 390);
		}

		.table-tour__header_column.city, .body-row-left__column.city {
			width: calc(125 * 100vw / 390);
		}

		.table-tour__header_column.city {
			padding-left: calc(10 * 100vw / 390);
			width: calc(50 * 100vw / 390);
		}

		.table-tour__header_column.place {
			padding-left: calc(10 * 100vw / 390);
		}

		.table-tour__body_row {
			padding-top: calc(15 * 100vw / 390);
			border-bottom: 1px solid #fff;
		}

		.body-row__left {
			padding-bottom: calc(29 * 100vw / 390);
			border-bottom: none;
		}

		.body-row-left__column.date {
			font-size: calc(12 * 100vw / 390);
			line-height: calc(24 * 100vw / 390);
		}

		.body-row-left__column.city {
			font-size: calc(24 * 100vw / 390);
			line-height: calc(24 * 100vw / 390);
		}

		.body-row-left__column.place {
			font-size: calc(10 * 100vw / 390);
			line-height: calc(24 * 100vw / 390);
			position: absolute;
			left: calc(63 * 100vw / 390);
			top: calc(27 * 100vw / 390);
			width: calc(150 * 100vw / 390);
		}

		.body-row-left__column.social-link {
			width: calc(27 * 100vw / 390);
			transform: translate(calc(10 * 100vw / 390),calc(10 * 100vw / 390));
		}

		.body-row-left__column.social-link img {
			width: calc(27 * 100vw / 390);
		}

		.body-row-right__buy-ticket {
			width: calc(106 * 100vw / 390);
			height: calc(27 * 100vw / 390);
			font-size: calc(8 * 100vw / 390);
			margin-top: calc(8 * 100vw / 390);
		}

		.next-tour-button {
			margin-top: calc(60 * 100vw / 390);
		}

		.footer {
			padding-top: calc(63 * 100vw / 390);
			padding-left: 0px;
			padding-right: 0px;
			flex-direction: column;
			margin-right: calc(16 * 100vw / 390);
			margin-left: calc(16 * 100vw / 390);
			width: calc(100% - (32 * 100vw / 390));
			position: relative;
			height: calc(350 * 100vw / 390);
			border-top: none;
		}

		.footer__left-menu_item {
			font-size: calc(12 * 100vw / 390);
			line-height: calc(29 * 100vw / 390);
			width: calc(50% - calc(60 * 100vw / 390));
			margin-right: calc(120 * 100vw / 390);
		}

		.footer__left-menu {
			width: 100%;
		}

		.footer__logo {
			position: absolute;
			width: calc(60 * 100vw / 390);
			top: calc(250 * 100vw / 390);
			left: calc(50% - calc(38 * 100vw / 390));
		}

		.footer__social_item img {
			width: calc(21 * 100vw / 390);
			height: calc(21 * 100vw / 390);
			margin-right: calc(7 * 100vw / 390);
		}

		.footer__social {
			width: 100%;
			justify-content: flex-start;
			position: absolute;
		}

		.footer__social_item {
			position: absolute;
			left: 0;
			font-size: calc(14 * 100vw / 390);
			margin-left: 0px;
		}

		.footer__social_double-row.design-by {
			position: absolute;
	    right: calc(7 * 100vw / 390);
	    top: calc(118 * 100vw / 390);
	    justify-content: flex-end;
	    width: calc(110 * 100vw / 390);
	    display: block;
			font-size: calc(12 * 100vw / 390);
			line-height: calc(20 * 100vw / 390);
			padding-left: calc(0 * 100vw / 1920);
		}

		.footer__social_double-row.design-by a {
			margin-left: calc(7 * 100vw / 390);
	    margin-right: calc(7 * 100vw / 390);
		}

		.footer__social_double-row.design-by a.nikita {
			margin-left: 0px;
		}

		.footer__social_item.rndmstore {
			top: calc(83 * 100vw / 390);
			left: 0px;
			flex-direction: row-reverse;
		}

		.footer__social_item.ogbuda {
			flex-direction: row-reverse;
			top: calc(114 * 100vw / 390);
			left: 0px;
		}

		.footer__social_item.boom {
			top: calc(83 * 100vw / 390);
			left: calc(241 * 100vw / 390);
		}

		.footer__social_item.apple {
			top: calc(83 * 100vw / 390);
			left: calc(278 * 100vw / 390);
		}

		.footer__social_item.spotify {
			top: calc(83 * 100vw / 390);
			left: calc(316 * 100vw / 390);
		}

		.footer__social_item.sixteen {
			margin-left: 0px;
			top: calc(169 * 100vw / 390);
		}

		.footer__social_item.sixteen img {
			width: calc(50 * 100vw / 390);
			height: calc(45 * 100vw / 390);
		}

		.buda-animation img {
			top: calc(273 * 100vw / 390);
			left: calc(59 * 100vw / 390);
			width: calc(130 * 100vw / 390);
		}

		.eu .buda-animation img {
			top: calc(274 * 100vw / 390);
			left: calc(23 * 100vw / 390);
			width: calc(173 * 100vw / 390);
		}

		.og_buda_inst, .footer__social_item img.og_buda_inst {
			width: calc(44 * 100vw / 390);
			margin-right: auto;
		}

		.rndmstore_inst, .footer__social_item img.rndmstore_inst {
			width: calc(71 * 100vw / 390);
			margin-right: auto;
		}
	}

	.init-buy-ticket {
		opacity: 0;
		transition: opacity 0.15s;
	}

	.init-buy-ticket.load-buy-ticket {
		opacity: 1;
	}
